@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/static/Inter-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/static/Inter-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('./assets/fonts/static/Inter-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body 
{
  font-family: 'Inter', sans-serif;
  background-color: hsl(0, 0%, 8%);
  color : white;
  min-width: 400px;
  min-height : 600px ; 
 
  
}


.outer_container
{
  
  display : flex; 
  align-items: center;
  justify-content: center;
  min-height : 100vh; 
  min-width: 350px;
}




.profile_div
{
  
  display : flex ; 
  flex-direction: column;
  min-width: 265px;
  align-items: center;
  justify-content: center;
  background-color: hsl(0, 0%, 12%);
  border-radius: 5px;
  box-sizing: content-box;
  
}




.profile_div .content_div , .profile_div .site_div
{
  display : flex; 
  justify-content: center;
}


.profile_div .site_div
{
  width : 75%;
  padding : 10px; 
  margin-bottom  :5px; 
  margin-top : 5px; 
  border : none; 
  background-color: hsl(0, 0%, 20%);
  border-radius: 3px;
  font-size: 0.75em;
}

.title_div
{
  font-size : 0.55em; 
  margin-top : 15px; 
  margin-bottom : 10px; 
  padding-top : 2px; 
  padding-bottom : 2px; 
}


.location_div
{
  font-size : 0.6em; 
  color : hsl(75, 94%, 57%); 
  padding-top : 5px; 
}

.name_div
{
  padding-top : 5px; 
}

.image_div .image_tag
{
  border-radius : 50%; 
  width : 50px; 
  margin-top : 30px; 
}

.profile_div 
{
  /* border : 5px solid white; */
  padding-bottom : 20px;  
}

